html, body {
    margin: 0;
    padding: 0;
}

#theMain{
    margin: 25px;
    display: block;
}

body{
    font-family: Verdana, Arial;
    font-size: 12px;
    background-color: #F1EEEE;
    color: black;
}

header{
    width: 100%;
    display: flex;
    align-content: center;
}

.off-screen-menu {
    text-decoration: none;
    background-color: #b7c7de;
    border-radius: 2px;
    position: fixed;
    height: 80%;
    top: 0;
    padding: 25px;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    font-size: 14px;
    transition: .3s ease;
}

#menuList a{
    text-decoration: none;
    color: black;
}

#menuList, ul{
    list-style-type: none;
}

.off-screen-menu.active {
    right: 0;
}

#content{
    list-style-type: initial;
}


/* nav */
nav {
    margin: 0;
    padding: 10px;
    width: 100%;
    background-color: #FFA6BD;
}

/* ham menu */
.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: black;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: black;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}


#current{
    background-color: #fccbd8;
    padding: 3px;
}

#abc{
    list-style-type: none;
}

div{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 4px;
}

#edit{
    display: block;
    margin: 20px auto;
    width: 290px;
    height: auto;
}

#edit2{
    display: block;
    margin: 20px auto;
    width: 335px;
    height: auto;
}

.custom-controls {
    margin-top: 5px;
  }

  .custom-controls button {
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 6px;
    background-color:#FFA6BD;
    color: black;
    font-size: 15px;
    cursor: pointer;
  }

  #vs{
    /* display: block;
    margin: 20px auto;
    width: 150px;
    height: auto; */
    display: none;
  }

  #pro{
    display: block;
    margin: 20px auto;
    width: 350px;
    height: auto;
  }

  #yt{
    display: block;
    margin: 20px auto;
    width: 350px;
    height: 280px;
  }

  #tik{
    /* display: block;
    margin: 20px auto;
    width: 150px;
    height: auto; */
    display: none;
  }

  #instaLogo{
    /* display: block;
    margin: 20px auto;
    width: 120px;
    height: auto; */
    display: none;
  }

  #myPage{
    display: block;
    margin: 20px auto;
    width: 250px;
    height: auto;
  }

  #caption{
    display: block;
    margin: 20px auto;
    width: 350px;
    height: auto;
  }

  legend{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    background-color: #FFA6BD;
    border-radius: 5px;
    padding: 5px;
    border: 3px solid #8195b1;
}

fieldset{
    color: black;
    background-color: #b7c7de;
    max-width: 260px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 3px solid #8195b1;
    padding: 25px;
    border-radius: 10px;
}
label{
    display: block;
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}
textarea{
    display: block;
    width: 80%;
}
#options{
    padding: 10px;
    border: 3px solid #FFA6BD;
    border-radius: 5px;
}
#your_input, #email_id{
    width: 50%;
    padding: 6px;
    border: 3px solid #FFA6BD;
    border-radius: 5px;
}
#submit{
    background-color: #FFA6BD;
    color: black;
    border: 2px solid black;
    border-radius: 3px;
    padding: 6px;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

footer{
    background-color: #FFA6BD;
    color: black;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

footer a{
    text-decoration: none;
    list-style-type: none;
}